.image-upload {
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 5px;
  transform: translate(0, 0);
  transition: transform 3s, font-size 3s;
}
.image-upload [type=file] {
  position: absolute;
  opacity: 0;
  min-width: 100%;
  min-height: 100%;
  cursor: inherit;
}

.image-added {
  transform: translate(0, 316px);
  font-size: 0.875rem;
}

.image-margin{
  margin-bottom: 0;
  transform: scale(0);
  transition: all 3000ms;
}

.image-margin.added-margin{
  margin-bottom: 60px;
  transform: scale(1);
}